body {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
}

h1 {
    margin: 0;
    padding: 12.2%;
}

.um {
    background-color: purple;
}

.dois {
    background-color: green;
}

.tres {
    background-color: red;
}

.quatro {
    background-color: yellow;
}