.container {
    display: grid;
    justify-content: center;
}

.columns {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    gap: 5%;
    width: 100%;
}

.title {
    text-align: center;
}